@import url(./font.css);

html,
body {
  font-family: iranyekan;
  background-color: #202020;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.rtl {
  direction: rtl;
}

.ltr {
  direction: ltr;
}

.swiper-button-next,
.swiper-button-prev {
  color: #fff !important;
  transition: color .2s ease-out;
}

@media (max-width: 640px) {

  .swiper-button-next,
  .swiper-button-prev {
    display: none !important;
  }
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  color: #ff0000 !important;
}

.swiper-pagination-bullet-active {
  background-color: #ff0000 !important;
}

.swiper-pagination-bullet {
  width: 30px !important;
  height: 5px !important;
  border-radius: 5px !important;

}


.Toastify__toast-body {
  font-family: iranyekan !important;
}

.ant-card-head {
  border-bottom-color: #d8d8d8 !important;
}

.ant-card-body {
  height: 70% !important;
}

.ant-card-head-title {
  font-size: 20px;
  color: #FFF;
  font-weight: bold;
}


.ant-table-thead>tr>th {
  background-color: #2C3034 !important;
  color: #FFF !important;
}

.ant-table table {
  background-color: #2c3034ef !important;
  color: #FFF !important;
}

.ant-table-row:hover,
.ant-table-row-level-0:hover,
.ant-table-row:hover .ant-table-cell {
  background-color: #212529 !important;
}


.admin-layout_site_layout__svmwt .admin-layout_site_layout_background__FvES3 {
  background-color: #202020 !important;
}

/* 
.ant-pagination, .ant-table-wrapper {
  background-color: #2c3034ee !important;
}

.ant-pagination-item-link {
  background-color: #3b4146 !important;
  display: flex !important;
  align-items: center;
  justify-content: center;
  color: #FFF !important;
}

.ant-pagination-item-active {
  font-weight: 500;
  background: #3b4146 !important;
}

.ant-pagination-item {
  border: 1px solid #FFF !important;
}
.ant-pagination-item-active a {
  color: #FFF !important;
} */

.ant-switch-checked {
  background-color: #1890ff !important;
}

#sub {
  background-color: #a1a1a1;
}

.ant-form-item-label {
  text-align: right !important;
}

.ant-form-vertical {
  margin-top: 20px !important;
}

/* .ant-form-item-label>label {
  color: #FFF !important;
} */

.ant-upload-list-item {
  color: #40a9ff !important;
}

.ant-upload-list-text .ant-upload-text-icon .anticon {
  color: #40a9ff !important;
}

.ant-upload-list-item-card-actions .anticon {
  color: #ff0000 !important;
}

.ant-form-item-control-input-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.ant-divider-horizontal.ant-divider-with-text {
  border-top-color: gainsboro !important;
  color: gainsboro !important;
}

.ant-modal {
  width: 65% !important;
}

@media (max-width: 550px)  {
  .ant-modal {
    width: 90% !important;
  }
}

.ant-empty-description {
  color: #1890ff;
}

