@import url(./font.css);

html,
body {
  font-family: iranyekan;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.rtl {
  direction: rtl;
}

.swiper-button-next, .swiper-button-prev {
  color: #fff !important;
  transition: color .2s ease-out;
}

.swiper-button-next:hover , .swiper-button-prev:hover {
  color: #ff0000 !important;
}

.swiper-pagination-bullet-active {
  background-color: #ff0000 !important;
}

.swiper-pagination-bullet {
  width: 30px !important;
  height: 5px !important;
  border-radius: 5px !important;
  
}
